@import url(https://cdn.jsdelivr.net/npm/nord-highlightjs@0.1.0/dist/nord.min.css);

:global {

}

.content {
    font-size: 18px;
    line-height: 1.5em;
}

.content :global(.code) {
    border-radius: 10px;
    box-shadow: 0 1px 14px #2e3440;
    padding: 1em;
    color: #d8dee9;
    background: #2e3440;
    display: block;
    overflow-x: auto;
    white-space: pre-wrap;
    margin: 14px 0;
}

.content blockquote {
    border-left: 2px solid var(--brand);
    background: rgba(0,0,255,.1);
    margin: 14px 0;
    padding: 16px;
}

.content :global(.monospace) {
    background: rgba(0,0,2555, .1);
    padding: 0 4px;
    border-radius: 4px;
    font-family: monospace;
    display: inline-block;
}

.content h1,
.content h2 {
    white-space: pre-wrap;
    margin: 16px 0 12px 0;
}