<html>
  <head>
    <title>Blog</title>
    <meta charser="utf-8" />
    <link href="/public/css/fontawesome.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/trix/1.2.1/trix.css" integrity="sha256-yebzx8LjuetQ3l4hhQ5eNaOxVLgqaY1y8JcrXuJrAOg=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/trix/1.2.1/trix.js" integrity="sha256-2D+ZJyeHHlEMmtuQTVtXt1gl0zRLKr51OCxyFfmFIBM=" crossorigin="anonymous"></script>
    <script src="/dist/vendors~main.bundle.js"></script>
    <script src="/dist/bundle.js"></script>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/dist/main.css">
  </head>
  <body>
    <div id="react_container"><%= dehydratedContent %></div>
  </body>
  <script>
      globalThis.ENV = {API: '<%= process.env.API %>'}
    const initialState = <%= dehydratedState %>
    window.hydrateApp(initialState)
  </script>
</html>