<html>
  <head>
    <title>What I Learned Today</title>
    <meta charser="utf-8" />
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
    <link href="/public/css/fontawesome.css" rel="stylesheet" type="text/css"/>
    <script src="/dist/vendors~main.bundle.js"></script>
    <script src="/dist/bundle.js"></script>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/dist/main.css">
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <div id="react_container"><%= dehydratedContent %></div>
  </body>
  <script id="starter">
    globalThis.ENV = {API: '<%= process.env.API %>'}
    const initialState = <%= dehydratedState %>
    window.hydrateApp(initialState)
  </script>
</html>