@import url(//db.onlinewebfonts.com/c/14126655f43628074be1976d86f13eae?family=Font+Awesome+5+Pro);

@font-face {
  font-family: "Anime Ace";
  src: url("/public/webfonts/animeace.ttf");
}

body {
  margin: 0 !important;
  font-family: 'IBM Plex Sans', sans-serif;
  background: #5672ff2b;
}

:global(body.no-scroll) {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

:root {
  --font-family: 'IBM Plex Sans', sans-serif;
  --brand: #5757ff;
  --accent: #ffd324;
  --mobile-width: 600px;
}

* {
  box-sizing: border-box;
}

.wrapper {
  /* background: gray; */
  font-family: var(--font-family);
  display: flex;
  padding: 32px;
  font-size: 16px;
}

.wrapper::before {
  content: ' ';
  width: 100%;
  height: 35%;
  min-height: 330px;
  /*background: var(--brand);*/
  background: #6666ff;
  display: block;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 28px;
  box-shadow: 0 0 6px 1px #6666ff;
}

.sidebar_left {
  display: inline-block;
  margin-left: auto;
  margin-right: 16px;
  width: 100%;
  max-width: 300px;
  padding: 16px;
  padding-top: 24px;
  margin-top: 24px;
  /* background: green; */
}

.content {
  display: inline-block;
  margin-left: 16px;
  margin-right: 16px;
  width: 100%;
  max-width: 900px;
  padding: 16px;
  padding-top: 24px;
  margin-top: 36px;
}

.sidebar_right {
  display: inline-block;
  margin-right: auto;
  margin-left: 16px;
  width: 100%;
  max-width: 300px;
  padding: 16px;
  margin-top: 36px;
  /* background: blue; */
}


.neko_placeholder {
  background: white;
  padding: 32px 16px;
  text-align: center;
  border: 2px solid black;
  width: 150px;
  font-size: 1em;
  font-family: "Anime Ace", sans-serif;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .wrapper {
    flex-direction: column;
    padding: 0;
  }

  .wrapper::before {
    top: calc(28px * 2);
  }

  .left {
    padding-top: calc(28px * 2 + 16px);
    margin: auto;
    /*max-width: 100%;*/
  }

  .middle {
    margin: 0;
    padding: 0;
  }

  .right {
    display: none;
  }
}

@media (max-width: 1400px) and (min-width: 600px) {
  .left {
    display: none;
  }

  .right {
    display: none;
  }
  .middle {
    margin-left: auto;
    margin-right: auto;
  }
}