@import url(//db.onlinewebfonts.com/c/14126655f43628074be1976d86f13eae?family=Font + Awesome + 5 + Pro);

body {
  margin: 0 !important;
  font-family: 'IBM Plex Sans', sans-serif;
  background: #5672ff12;
  /* background: #e4e4e41f; */
}

:root {
  --font-family: 'IBM Plex Sans', sans-serif;
  --brand: #5757ff;
  --accent: #ffd324;
}

* {
  box-sizing: border-box;
}

.wrapper {
  /* background: gray; */
  font-family: var(--font-family);
  display: flex;
  padding: 32px;
  padding-left: calc(64px + 32px);
  font-size: 16px;
}

.left {
  display: inline-block;
  margin-left: auto;
  margin-right: 16px;
  width: 100%;
  max-width: 900px;
  padding: 16px;
  padding-top: 24px;
  /* background: green; */
}

.right {
  display: inline-block;
  margin-right: auto;
  margin-left: 16px;
  width: 100%;
  max-width: 300px;
  padding: 16px;
  /* background: blue; */
}
