.preview {

}

.previewTitle {
    padding: 24px;
    padding-bottom: 0;
    font-size: 1.5em;
}

.previewText {
    height: calc(100% - 56px);
    overflow-y: auto;
    padding: 24px;
    font-size: 18px;
    line-height: 1.5em;
}