.wrapper {
    position: fixed;
    bottom: 32px;
    right: 32px;
    z-index: 100;
}

.button {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--brand);
    box-shadow: 0 3px 6px #5757ff;
    color: white;
    cursor: pointer;
}