.wrapper {
  background: white;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  height: 100%;
}

.new {
  width: calc((100% - 32px) / 2 + 32px);
  border-right: 1px solid rgba(0,0,0,.1);
  display: flex;
  flex-direction: column;
  position: relative;
}

.previewWrapper {
  width: calc((100% - 32px) / 2);
  background: white;
}

.confirmations {
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 500px;
  padding: 0 12px;
  z-index: 10000000;
  max-width: 100%;
}

.actions {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-left: auto;
  display: block;
  justify-content: space-between;
  padding: 24px;
  padding-left: calc(32px + 24px);
  z-index: 1000000;
}

.close {
  position: absolute;
  right: 6px;
  top: 6px;
  color: var(--brand);
  cursor: pointer;
  font-size: 1.2em;
}

@media (max-width: 600px) {
  .wrapper {
    flex-direction: column;
  }

  .new {
    width: 100%;
    height: 100%;
  }

  .previewWrapper {
    display: none;
  }
}
