.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /*box-shadow: 0px 5px 24px rgba(0, 0, 255, 0.24);*/
  background: rgba(0, 0, 255, 0.03);
  height: 100%;
}

.title {
  font-family: var(--font-family);
  border: 0;
  border-left: 1px solid rgba(0, 0, 255, 0.06);
  padding: 24px;
  padding-bottom: 0;
  font-size: 1.5em;
  /* border-bottom: 1px solid transparent; */
  transition: border-color 0.2s;
  margin-left: 31px;
}

.title:focus {
  outline: none;
}

:root {
  --button-size: 32px;
  --editor-padding: 25px;
  --border-radius: 5px;
}

baka-editor {
  height: 100%;
}

:global #wrapper {
  width: 100%;
  height: 100%;
  background: white;
  /*border-radius: 0 0 15px 15px;*/
  display: flex;
  align-items: stretch;
  overflow: hidden;
  position: relative;
}

:global #buttons {
  width: var(--button-size);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 255, 0.03);
  border-right: 1px solid rgba(0, 0, 255, 0.06);
  padding-top: 24px;
}

:global #buttons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--button-size);
  height: var(--button-size);
  text-decoration: none;
  font-size: 1.2em;
  color: rgba(0, 0, 255, 0.3);
  transition: color 0.2s;
}

:global #buttons a.active {
  /* background: rgba(0, 0, 255, 0.08); */
  color: #ffd324;
  /* background: #ffd324; */
}

:global #buttons #bold {
  font-weight: bold;
}

:global #buttons #italic {
  font-style: italic;
}

:global #buttons #strike {
  text-decoration: line-through;
}

:global #buttons #underline {
  text-decoration: underline;
}

:global #buttons #monospace {
  font-family: monospace;
}

:global #placeholder {
  position: absolute;
  width: 100%;
  height: auto;
  top: 25px;
  left: calc(var(--editor-padding) + 2px + var(--button-size));
  opacity: 0.6;
  z-index: 0;
  font-size: 18px;
}

:global #placeholder.invisible {
  opacity: 0;
}

:global #editor {
  width: 100%;
  height: auto;
  min-height: 200px;
  padding: calc(var(--editor-padding) - 1px);
  background: transparent;
  z-index: 1;
  border: 1px solid transparent;
  transition: border-color 0.2s;
  font-size: 18px;
  padding: 24px;
  line-height: 1.5em;
}

:global #editor * {
  white-space: pre-wrap;
}

:global #editor:focus {
  outline: 0px solid transparent;
  /*border-color: rgba(0, 0, 255, 0.24);*/
}

:global #editor .empty {
  height: 1em;
}

:global #editor:active {
  outline: none;
}

:global #editor .monospace {
  font-family: Monospace;
  background: lightgray;
  padding: 2px;
  border-radius: 4px;
  display: inline-block;
}

:global #editor .service {
  color: #b1b1b1;
}
