.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /*box-shadow: 0px 5px 24px rgba(0, 0, 255, 0.24);*/
  background: rgba(0, 0, 255, 0.03);
  height: 100%;
}

.title {
  font-family: var(--font-family);
  border: 0;
  border-left: 1px solid rgba(0, 0, 255, 0.06);
  padding: 24px;
  padding-bottom: 0;
  font-size: 1.5em;
  /* border-bottom: 1px solid transparent; */
  transition: border-color 0.2s;
  margin-left: 31px;
}

.title:focus {
  outline: none;
}

.wrapper baka-editor {
  height: calc(100% - 56px);
}

.wrapper baka-editor :global(#editor) {
  padding-bottom: 64px;
}