.post {
  display: block;
  color: black;
  background: white;
  padding: 24px;
  border-radius: 15px;
  margin-bottom: 42px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19);
}

.post header {
  display: flex;
}

.avatar {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

.top_info_wrapper {
  display: flex;
  flex-direction: column;
  height: 48px;
  justify-content: center;
  margin-left: 16px;
}

.title {
  font-size: 1.6em;
  /* color: var(--brand); */
  line-height: 1em;
  font-weight: 400;
}

.username {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.6);
  line-height: calc(1em);
  font-weight: 500;
  padding-top: 8px;
}

.actions {
  display: inline-flex;
  margin-left: auto;
  height: 54px;
}

.actions a {
  width: 54px;
  height: 54px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  text-decoration: none;
  color: var(--accent);
}

.content {
  padding-top: 24px;
  line-height: 1.5em;
  font-size: 18px;
}
